
<app-add-todo (todoAdded)="createNewTodoItem($event)"></app-add-todo>

<div *ngIf="groupedTodoItems['uncompleted'] && groupedTodoItems['uncompleted'].length > 0">
    <div *ngFor="let todoItem of groupedTodoItems['uncompleted']">       
        <app-todo-item [todoItem]="todoItem" (todoUpdated)="updateTodoItem($event)" (todoDeleted)="deleteTodoItem($event)"></app-todo-item>        
    </div>    
</div>

<div *ngIf="groupedTodoItems['completed'] && groupedTodoItems['completed'].length > 0">
    <h1>Completed</h1>
    <div *ngFor="let todoItem of groupedTodoItems['completed']">
        <app-todo-item [todoItem]="todoItem" (todoUpdated)="updateTodoItem($event)" (todoDeleted)="deleteTodoItem($event)"></app-todo-item>
    </div>
</div>    


